@import "tailwindcss";

@theme {
  --font-heading: var(--font-poppins);
  --font-body: var(--font-nunito);

  --color-dark: #0e0e12;
  --color-dark-accent: #2a2a2f;
  --color-cyan: #5c6bff;
  --color-white: #f3f4f6;
  --color-white-accent: #a8a8af;
  --color-red: #ff496a;
  --color-yellow: #f7c843;
  --color-green: #5cff93;
}

:root,
body,
html {
  background: var(--color-dark);
}
